.table {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: rgba(38, 40, 66, 0.12);
  border-radius: 0px 0px 0px 10px;
  border-collapse: collapse; /* Убираем двойные границы */
  overflow-x: scroll;

  td, th {
    padding: 3px; /* Поля в ячейках */
  }
}

