.thead {
  background: #F7F8FC;

  .tableHeaderRow {
  
    th {
      border: 1px solid rgba(38, 40, 66, 0.12);
    }
  
    .taskList {
      min-width: 300px;
      text-align: start;
      padding-left: 10px;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
    }

    .headcol {
      position: -webkit-sticky;
      position: sticky;
      border: 1px solid rgba(38, 40, 66, 0.12);
    }
  }
  td {
    text-align: center;
  }
  .weeks-th {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .days-th {
    min-width: 24px;
    width: 100%;
    height: 24px;
    border: 1px solid rgba(38, 40, 66, 0.12);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
}
